In [2]:
#Dependencies
!pip install dspy-ai[chromadb] -Uqq
!pip install termcolor -Uqq
!pip install sqlalchemy -Uqq

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 276.3/276.3 kB 5.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 547.8/547.8 kB 9.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.2/302.2 kB 10.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 328.5/328.5 kB 12.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 380.1/380.1 kB 14.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.8/65.8 kB 12.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.6/53.6 kB 6.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 525.5/525.5 kB 16.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 24.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.0/92.0 kB 15.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.4/62.4 kB 11.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.3/41.3 kB 7.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.4/5.4 MB 41.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.8/6.8 MB 61.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.9/59.9 kB 9.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 107.0/107.0 kB 18.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 67.3/67.3 kB 13.2 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 41.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 66.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 67.6/67.6 kB 11.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 141.1/141.1 kB 25.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 11.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.8/40.8 MB 16.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 18.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.9/64.9 kB 11.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.1/194.1 kB 28.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.8/134.8 kB 22.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.0/233.0 kB 36.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.6/78.6 kB 13.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.9/71.9 kB 12.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 12.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 11.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.0/46.0 kB 7.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.5/52.5 kB 10.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 130.5/130.5 kB 23.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.4/341.4 kB 48.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 103.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 81.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 130.2/130.2 kB 20.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 33.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.8/86.8 kB 16.3 MB/s eta 0:00:00
  Building wheel for pypika (pyproject.toml) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-cu12 24.4.1 requires pyarrow<15.0.0a0,>=14.0.1, but you have pyarrow 16.1.0 which is incompatible.
google-colab 1.0.0 requires requests==2.31.0, but you have requests 2.32.3 which is incompatible.
ibis-framework 8.0.0 requires pyarrow<16,>=2, but you have pyarrow 16.1.0 which is incompatible.

#### Importing utilities

In [3]:
#imports
from bs4 import BeautifulSoup
import urllib.request
import ssl
import openai
import os
import requests
import warnings
warnings.filterwarnings("ignore")
from tqdm import tqdm
import pandas as pd
import json
from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
)
import re
from sqlalchemy import inspect
import sqlalchemy
from sqlalchemy import text
import dspy
from typing import List
from termcolor import colored
import chromadb

In [4]:
from dsp.modules.cache_utils import cache_turn_on

cache_turn_on

True

### Loading data

In [11]:
df = pd.read_csv("ERP_Data/PA_PYMENTS.csv")

In [12]:
df.head()

,VENDOR_ID,LAST_UPDATE_DATE,LAST_UPDATED_BY,VENDOR_NAME,VENDOR_NAME_ALT,SEGMENT1,SUMMARY_FLAG,ENABLED_FLAG,LAST_UPDATE_LOGIN,CREATION_DATE,...,AMOUNT_INCLUDES_TAX_FLAG,PROGRAM_UPDATE_DATE,VAT_REGISTRATION_NUM,AUTO_CALCULATE_INTEREST_FLAG,EXCLUDE_FREIGHT_FROM_DISCOUNT,MATCH_OPTION,OFFSET_TAX_FLAG,PARTY_ID,TCA_SYNC_VENDOR_NAME,TCA_SYNC_VAT_REG_NUM
0,7136,5/25/2024,Sylvia Brooks,Ware-Williams,"Hernandez, George and Ramirez",throw,Y,N,649559,2/28/2024,...,N,4/10/2024,232818,N,N,foot,Y,962003,century,637630
1,8667,3/29/2024,Samuel Cunningham,Burnett PLC,"Larson, Mcdaniel and Jarvis",trouble,Y,Y,887153,3/5/2024,...,Y,5/6/2024,983779,Y,Y,commercial,Y,936681,like,811016
2,2023,2/24/2024,Monica Scott,Martin-Hudson,"Stewart, Franklin and George",say,Y,N,435433,6/13/2024,...,Y,6/12/2024,995433,N,N,outside,N,644458,lawyer,959161
3,6187,3/24/2024,Mark Reynolds,Spencer-Garner,Sullivan Ltd,when,N,Y,997477,6/16/2024,...,Y,3/16/2024,776490,Y,Y,father,Y,208584,truth,800789
4,9934,4/21/2024,Heidi Simpson,Moore-Gill,"Glenn, Dawson and Lewis",if,Y,N,600852,2/2/2024,...,Y,5/21/2024,520238,Y,N,without,N,268863,imagine,881960

## BUILD TABLE NAMES AND METADATA

* Here I use a DSPy signature given the first 10 rows of the dataframe, I generate the table name and table explanation. It will help to dynamically select the correct table based on the query.

In [ ]:
df.head(10).to_csv()

In [18]:
import os
key = "sk-***************"
os.environ["OPENAI_API_KEY"] = key
openai.api_key = key

In [6]:
import dspy
# turbo = dspy.OpenAI(model='gpt-3.5-turbo-instruct', max_tokens=250)
turbo = dspy.OpenAI(model='gpt-3.5-turbo', max_tokens=250)
dspy.settings.configure(lm=turbo)

class SQLTableMetadata(dspy.Signature):
    """Give a suitable table name and description about the given table"""
    pandas_dataframe_str = dspy.InputField(desc="First 10 rows of a pandas dataframe delimited by newline character")
    table_name = dspy.OutputField(desc="suitable table name")
    table_summary = dspy.OutputField(desc="a summary about the table")

class CoT(dspy.Module):
    def __init__(self):
        super().__init__()
        self.prog = dspy.ChainOfThought(SQLTableMetadata)

    def forward(self, pandas_dataframe_str):
        return self.prog(pandas_dataframe_str=pandas_dataframe_str)

cot = CoT()

In [15]:
cot(pandas_dataframe_str = df.head(10).to_csv())

Prediction(
    rationale='produce the table summary. We have a dataset containing information about different vendors, including their IDs, names, payment details, currency codes, payment methods, and various flags indicating specific attributes. This table provides a comprehensive overview of vendor information that can be used for analysis and decision-making.',
    table_name='Vendor Information Table',
    table_summary='This table contains detailed information about various vendors, including their IDs, names, payment details, currency codes, payment methods, and flags indicating specific attributes. It can be used for analysis and decision-making related to vendor management.'
)

In [7]:
import pandas as pd
import os
import json
from tqdm import tqdm

def sanitize_column_name(col_name):
    # Remove special characters and replace spaces with underscores
    return re.sub(r"\W+", "_", col_name)

# Specify the directory containing the processed data
processed_dir = "ERP_Data"

# Initialize an empty list to store dictionaries
all_infos_dict = []
final_dir = os.path.join(processed_dir, "")


# Iterate over all CSV files within the country directory
for csv_file in tqdm(os.listdir(processed_dir)):
    full_file_name = os.path.join(final_dir, csv_file)
    if not full_file_name.endswith(".csv"):
        continue
    # print(full_file_name)

    # Load the CSV file into a DataFrame
    df = pd.read_csv(full_file_name)
    df.dropna(how='all', inplace=True)

    # Convert the DataFrame to a dictionary (example)
    info_dict = df.to_dict(orient='records')[0]  # Convert the first row to a dict

    # Save the DataFrame to a CSV file
    save_name = full_file_name.split(".")[0].split(os.sep)[-1]
    save_file_path = os.path.join(final_dir, f"{save_name}_processed.csv")
    df.to_csv(save_file_path, index=False)

    # Save the info_dict to a JSON file
    with open(save_file_path.replace('.csv', '.json'), 'w') as outfile:
        json.dump(info_dict, outfile)

print("Processing completed.")

100%|██████████| 7/7 [00:00<00:00, 32.82it/s]

Processing completed.

In [ ]:
processed_dir = "ERP_Data"
dfs_str = []
for files in tqdm(os.listdir(processed_dir)): # Building the summary and name for tables
    if files.endswith("processed.csv"):
        file_name = files.split(".")[0]
        csv_file_path = os.path.join(processed_dir,files)
        df = pd.read_csv(csv_file_path,index_col=False)
        json_file_path = os.path.join(processed_dir,f"{file_name}.json")
        print(f"\n#### {json_file_path}")
        with open(json_file_path,'r') as f:
            data = json.loads(f.read())
            if 'table_name' in data and 'table_summary' in data:
                if data['table_summary'] == "":
                    pass
                else:
                    continue
        dfs_str.append(df.head(10).to_csv())
        table_preds = cot(pandas_dataframe_str = df.head(10).to_csv())
        print(table_preds.table_name)
        print(table_preds.table_summary)
        data['table_name'] = file_name
        data['table_summary'] = table_preds.table_summary
        with open(json_file_path,'w') as f:
            json.dump(data, f)

## NEXT TASKS
1. Build database for each table
2. Embed the table summary and table SCHEMA. Also, embed the table rows
3. Retrieval at table level and embed the rows to retrieve relevant rows from the retrieved schema of table
4. Text-to-SQL pipeline

#### BUILD THE SQLITE DATABASE FROM THE CSV FILES

In [9]:
# Function to create a sanitized column name
def sanitize_column_name(col_name):
    # Remove special characters and replace spaces with underscores
    return re.sub(r"\W+", "_", col_name)


# Function to create a table from a DataFrame using SQLAlchemy
def create_table_from_dataframe(
    df: pd.DataFrame, table_name: str, engine, metadata_obj
):
    # Sanitize column names
    sanitized_columns = {col: sanitize_column_name(col) for col in df.columns}
    df = df.rename(columns=sanitized_columns)

    # Dynamically create columns based on DataFrame columns and data types
    columns = [
        Column(col, String if dtype == "object" else Integer)
        for col, dtype in zip(df.columns, df.dtypes)
    ]

    # Create a table with the defined columns
    table = Table(table_name, metadata_obj, *columns)

    # Create the table in the database
    metadata_obj.create_all(engine)

    # Insert data from DataFrame into the table
    with engine.connect() as conn:
        for _, row in df.iterrows():
            insert_stmt = table.insert().values(**row.to_dict())
            conn.execute(insert_stmt)
        conn.commit()

## DATABASE CREATION

In [10]:
processed_dir  = "ERP_Data"
def sqlalchemy_engine(region:str):
    """Create a SQLAlchemy engine for the given region"""
    # Create a SQLAlchemy database for each region
    engine = create_engine(f"sqlite:///{region}.db")
    metadata_obj = MetaData()
    # region_path = os.path.join(processed_dir,region)
    dfs = []
    for dataframes_path in os.listdir(processed_dir):
        if dataframes_path.endswith("processed.csv"):
            df = pd.read_csv(os.path.join(processed_dir,dataframes_path),index_col=False)
            dfs.append((dataframes_path,df))
    pbar = tqdm(total=len(dfs),desc=f"Creating tables for {region}")
    for _, df_table_name in enumerate(dfs):
        table_name = df_table_name[0]
        table_name = table_name.split(".")[0]
        df = df_table_name[1]
        # print(f"Creating table: {table_name}")
        create_table_from_dataframe(df,table_name, engine, metadata_obj)
        # print(f"Done creating table for: {table_name}")
        pbar.update(1)
    return engine

In [11]:
db_engine = sqlalchemy_engine("main")

Creating tables for main: 100%|██████████| 7/7 [00:04<00:00,  1.45it/s]

In [12]:
def get_table_infos(sql_engine:sqlalchemy.engine.base.Engine,region:str):
    """Get all the tables info in the database based on the given region"""
    inspector = inspect(sql_engine)
    table_names = inspector.get_table_names()
    table_infos_dict = {tb: [] for tb in table_names}
    for tb in table_names:
        column_dict = inspector.get_columns(tb)
        schema_str = ""
        primary_keys = []
        for col in column_dict:
            schema_str += f"{col['name']} ({col['type']}), "
            if col["primary_key"] not in primary_keys:
                primary_keys.append(col["name"])
        with open(os.path.join(processed_dir,f"{tb}.json")) as f:
            table_info = json.loads(f.read())
        table_infos_dict[tb] = [
            {
                "table_info": f"Table {tb} has columns: {schema_str[:-2]}",
                "table_summary": f'{table_info["table_summary"]}. ',
            }
        ]
    return table_infos_dict

In [13]:
tb_dict = get_table_infos(db_engine,"main")

In [ ]:
tb_dict

In [15]:
type(tb_dict)

dict

## EMBEDDINGS

1. Embed the table summary and table SCHEMA to get the table that the user is looking for
2. Embed the table rows for each table, so as to get relevant rows from the retrieved table

## EMBED THE TABLE SUMMARY AND TABLE SCHEMA

In [ ]:
os.environ['OPENAI_API_KEY'],

In [34]:
from chromadb.db.base import UniqueConstraintError  # Correct import statement

In [39]:
import chromadb
import chromadb.utils.embedding_functions as embedding_functions
from chromadb.utils.batch_utils import create_batches
from chromadb.config import Settings

emb_fn = embedding_functions.OpenAIEmbeddingFunction(
                api_key=os.environ['OPENAI_API_KEY'],
                model_name="text-embedding-3-small")
# EMBEDDING_MODEL = "mixedbread-ai/mxbai-embed-large-v1"
# emb_fn = embedding_functions.HuggingFaceEmbeddingFunction(model_name=EMBEDDING_MODEL,api_key=os.environ["HF_API_KEY"])
def embed_table_info(region:str,tb_dict):
    """Embed the table summary and table SCHEMA to get the table that the user is looking for"""
    settings = Settings(allow_reset=True)
    client = chromadb.PersistentClient(path="./main_TABLE", settings=settings)
    # client = chromadb.PersistentClient(path=f"{region}_TABLE")
    try:
        table_collection = client.create_collection(name="table",embedding_function=emb_fn)
    except UniqueConstraintError:
        print("Collection 'table' already exists. Skipping creation.")

    table_docs = []
    table_metadata = []


    for table_name,table_data in tb_dict.items():
        table_docs.append(table_data[0]['table_info'] + ". " + table_data[0]['table_summary'])
        table_metadata.append({"table_name":table_name,'table_metadata':table_data[0]['table_info']})
    table_ids = [f"id{i}" for i in range(len(table_docs))]
    assert len(table_docs) == len(table_metadata)
    print(len(table_docs),len(table_metadata))
    # Create a batch of data to be sent to OpenAI Embedding API
    batches = create_batches(api=client,ids=table_ids, documents=table_docs, metadatas=table_metadata)
    for batch in tqdm(batches,desc="Embedding table info"):
        table_collection.add(ids=batch[0],
                    documents=batch[3],
                    metadatas=batch[2])

embed_table_info("main",tb_dict)

7 7

Embedding table info: 100%|██████████| 1/1 [00:00<00:00,  2.78it/s]

In [41]:

def embed_rows(region:str,batch_size:int=24):
    client = chromadb.PersistentClient(path=f"{region}_TABLE")
    # client.delete_collection(name="rows")
    settings = Settings(allow_reset=True)
    client = chromadb.PersistentClient(path="./main_TABLE", settings=settings)
    # client = chromadb.PersistentClient(path=f"{region}_TABLE")
    try:
        rows_collection = client.create_collection(name="rows",embedding_function=emb_fn)
    except UniqueConstraintError:
        print("Collection 'rows' already exists. Skipping creation.")

    rows_docs = []
    rows_metadata = []
    region_path = os.path.join(processed_dir,"")
    for df_path in os.listdir(region_path):
        df_full_path = os.path.join(region_path,df_path)
        df = pd.read_csv(df_full_path,index_col=False)
        for idx,row in df.iterrows():
            row_str = ""
            full_rows = []
            for rv in row.values:
                if isinstance(rv,str):
                    row_str+= rv + ", "
                full_rows.append(str(rv))
                row_str = row_str.replace('"',"")
                # row_str = row_str.replace("'",'"')
            full_rows_str = ", ".join(full_rows)[:-2]
            full_rows_str = full_rows_str.replace('"',"")
            rows_docs.append(row_str[:-2])
            rows_metadata.append({"table_name":df_path.split(".")[0],"region":region,"index":idx,"full_rows":full_rows_str})
    row_ids = [f"id{i}" for i in range(len(rows_docs))]
    # print(len(rows_docs),len(rows_metadata))
    assert len(rows_docs) == len(rows_metadata) == len(row_ids)
    # return rows_docs,rows_metadata,row_ids
    for start in tqdm(range(0,len(rows_docs),batch_size),desc="Embedding rows"):
        end = min(start+batch_size,len(rows_docs))
        batch_ids = row_ids[start:end]
        batch_rows = rows_docs[start:end]
        batch_metadatas = rows_metadata[start:end]
        rows_collection.add(ids=batch_ids,
                    documents=batch_rows,
                    metadatas=batch_metadatas)
    # return batches

In [42]:
region = "main"
# embed_table_info(region,tb_dict)
embed_rows(region,2000)

Embedding rows: 100%|██████████| 4/4 [00:26<00:00,  6.56s/it]

## TEXT-TO-SQL PIPELINE

### LOAD DATABASE

In [43]:
db_dict = {
    "main":db_engine,
}

def get_collections_db(region:str):
    # Get the database for the given region, table collection and row collection
    client = chromadb.PersistentClient(path=f"{region}_TABLE")
    table_collection = client.get_collection(name="table",embedding_function=emb_fn)
    row_collection = client.get_collection(name="rows",embedding_function=emb_fn)
    return [db_dict[region],table_collection,row_collection]

In [44]:
db_collection_dict = {
    "main":get_collections_db("main")
}

In [45]:
text_to_sql = dspy.OpenAI(model='gpt-3.5-turbo', max_tokens=1024)
sql_to_answer = dspy.OpenAI(model='gpt-3.5-turbo',max_tokens=1024)

# DSPy signature for converting text to SQL query
class TextToSQLAnswer(dspy.Signature):
    """Convert natural language text to SQL using suitable schema(s) from multiple schema choices"""

    question:str = dspy.InputField(desc="natural language input which will be converted to SQL")
    relevant_table_schemas_rows:str = dspy.InputField(desc="Multiple possible tables which has table name and corresponding columns, along with relevant rows from the table (values in the same order as columns above)")
    sql:str = dspy.OutputField(desc="Generate syntactically correct sqlite query with correct column names using suitable tables(s) and its rows.\n Don't forget to add distinct.\n Please rename the returned columns into suitable names.\n DON'T OUTPUT anything else other than the sqlite query")

# DSPy signature for converting SQL query and question to natural language text
class SQLReturnToAnswer(dspy.Signature):
    """Answer the question using the rows from the SQL query"""
    question:str = dspy.InputField()
    sql:str = dspy.InputField(desc="sqlite query that generated the rows")
    relevant_rows:str = dspy.InputField(desc="relevant rows to answer the question")
    answer:str = dspy.OutputField(desc="answer to the question using relevant rows and the sql query")

# If there is an SQLError, then rectify the error by trying again
class SQLRectifier(dspy.Signature):
    """Correct the SQL query to resolve the error using the proper table names, columns and rows"""
    input_sql:str = dspy.InputField(desc="sqlite query that needs to be fixed")
    error_str: str = dspy.InputField(desc="error that needs to be resolved")
    relevant_table_schemas_rows:str = dspy.InputField(desc="Multiple possible tables which has table name and corresponding columns, along with relevant rows from the table (values in the same order as columns above)")
    sql:str = dspy.OutputField(desc="corrected sqlite query to resolve the error and remove and any invalid syntax in the query.\n Don't output anything else other than the sqlite query")

dspy.settings.configure(lm=text_to_sql)

# Filter out the SQL Query
def process_sql_str(sql_str:str):
    sql_str = sql_str.replace("```","")
    sql_str = sql_str.replace("sql","")
    sql_str = sql_str.strip()
    return sql_str

<p align="center">
  <img src="https://raw.githubusercontent.com/Athe-kunal/Text-to-SQL/main/Schema.png" alt="Sublime's custom image"/>
</p>

In [46]:
def get_table_results(table_collection_,question:str):
    # question_emb = emb_fn.embed_with_retries(question)[0]
    # Get the table results for the given question
    table_results = table_collection_.query(
        query_texts = question,
        n_results = 5
    )
    # print(table_results['documents'][0])
    return table_results

def get_row_results(row_collection_,question,table_name:str):
    # Get the row results for the given question
    row_results = row_collection_.query(
        query_texts = question,
        where = {"table_name":table_name},
        n_results = 5
    )
    print(row_results['documents'][0])
    return row_results

In [ ]:
from typing import Any
import re

class TextToSQLQueryModule(dspy.Module):
    """Text to SQL to final module"""
    def __init__(self,region:str,use_cot:bool=True,max_retries:int=3):
        """Text to Answer init module

        Args:
            region (str): Region for which the module will be used.
            use_cot (bool, optional): Whether to use chain of thought for sql query generation. Defaults to True.
            max_retries (int, optional): Number of max retries for SQLError. Defaults to 3.
        """
        super().__init__()
        self.region = region
        db,table_collection,row_collection = db_collection_dict[region]
        # print(db,table_collection,row_collection)
        self.table_collection = table_collection
        self.use_cot = use_cot
        self.db = db
        self.row_collection = row_collection
        if self.use_cot == True:
            self.sqlAnswer = dspy.ChainOfThought(TextToSQLAnswer)
        else:
            self.sqlAnswer = dspy.Predict(TextToSQLAnswer)
        self.final_output = dspy.Predict(SQLReturnToAnswer)
        self.max_tries = max_retries
        # Initialize the sql rectifier with CoT reasoning
        self.sql_rectifier = dspy.ChainOfThought(SQLRectifier,rationale_type=dspy.OutputField(
            prefix="Reasoning: Let's think step by step in order to",
            desc="${produce the answer}. We ..."
        ))

    def __call__(self, *args: Any, **kwargs: Any) -> Any:
        return self.forward(*args, **kwargs)

    def forward(self,question):
        # Embed the question with embedding function
        question_emb = emb_fn([question])[0]
        # Retrieve the relevant tables from table schema and table summary
        docs = self.table_collection.query(
            query_embeddings = question_emb,
            n_results = 5
        )
        # docs = get_table_results(db_collection_dict[self.region][1],question)
        relevant_rows_schemas = ""

        existing_table_names = []

        for table_idx,metadata_name in enumerate(docs['metadatas'][0]):
            table_metadata = metadata_name['table_metadata']
            table_name = metadata_name['table_name']
            # If the table name is already in the list of existing table names, skip it
            # if table_name in existing_table_names:
            #     continue
            existing_table_names.append(table_name)
            # Retrieve the relevant rows from the current table
            rows = self.row_collection.query(
                query_embeddings = question_emb,
                n_results = 5,
                # where clause to filter the rows
                where = {"table_name":table_name}
            )
            # Retrieve the relevant table with the schema and summary
            relevant_rows_schemas += f'Table name: {table_name} \n'
            relevant_rows_schemas += "/* \n"
            for match in re.finditer("columns: ",table_metadata):
                cols_end = match.end()
            relevant_rows_schemas += "col : " + " | ".join(table_metadata[cols_end:].split(", ")) + "\n"
            for row_idx,row in enumerate(rows['metadatas'][0]):
                # Get the relevant rows from the current table
                # relevant_rows_schemas += f'\tRow {row_idx+1} from table {table_name}: {row["full_rows"]}\n'
                relevant_rows_schemas += f'row {row_idx+1} : {" | ".join(row["full_rows"].split(", "))}\n'
            relevant_rows_schemas += "*/" + '\n\n'
        print(colored(relevant_rows_schemas,"yellow"))
        # return
        sql_query = self.sqlAnswer(question=question,relevant_table_schemas_rows=relevant_rows_schemas)

        num_tries = 0
        print(sql_query)
        while num_tries <= self.max_tries:
            with self.db.connect() as conn:
                try:
                    # Try executing the sql query for the database
                    result = conn.execute(text(process_sql_str(sql_query.sql)))
                    num_tries = self.max_tries + 1
                except Exception as error:
                    # If there is an sql error, then try again with the sql rectifier
                    print(colored(str(error),'red'))
                    sql_query = self.sql_rectifier(input_sql=sql_query.sql,error_str=str(error),relevant_table_schemas_rows=relevant_rows_schemas)
                    print(colored(sql_query.rationale,'green'))
                    print()
                    print(colored(sql_query.sql,'green'))
                    # If all the num_retries are exhausted, then exit the program
                    num_tries += 1
                    if num_tries == self.max_tries+1:
                        return sql_query,error
        # With the retrieved rows from the database, then try to answer the question with dspy context
        with dspy.context(lm=sql_to_answer):
            row_str = ""
            key = tuple(result.keys())
            for row in result.fetchall():
                for r,k in zip(row,key):
                    row_str += f" {k} = {r},"
                row_str = row_str[:-1]
                row_str += "\n"
            print(f"Extracted rows: {row_str}")
            final_answer = self.final_output(question=question,sql=sql_query.sql,relevant_rows=row_str)
            return final_answer
tsql_ = TextToSQLQueryModule("main")
question = "Can you give me the status of invoice number 1687546526?"
sq = tsql_(question = question)

In [48]:
print(sq)

Prediction(
    answer='| invoice_status |\n|----------------|\n| APPROVED       |\n\nAnswer: The status of invoice number 1687546526 is APPROVED.'
)

In [50]:
print(sq.answer)

| invoice_status |
|----------------|
| APPROVED       |

Answer: The status of invoice number 1687546526 is APPROVED.

In [ ]:
# tsql = TextToSQLQueryModule("main")
sq = tsql_(question="What is the currency code for the invoice number 1687546526?")
print(sq.answer)

In [ ]:
sq = tsql_(question="Can you give me the vendor name, amount paid and source for the same?")
print(sq.answer)

In [ ]:
sq = tsql_(question="What is the amount paid for the invoice number 1687546526?")
print(sq.answer)

In [54]:
print(sq.answer)

| Invoice_Number | Amount_Paid |
|----------------|-------------|
| 1687546526     | 500         |

Answer: The amount paid for the invoice number 1687546526 is $500.

In [ ]:
sq = tsql_(question="What is the PO number for the invoice number 9302587107?")
print(sq.answer)

In [56]:
print(sq.answer)

| PO_NUMBER |
|-----------|
| 123456    |

Answer: The PO number for the invoice number 9302587107 is 123456.

In [ ]:
sq = tsql_(question="What is the invoice amount, payment status and invoice date for invoice number SC16616G-DEC-24?")
print(sq.answer)

In [58]:
print(sq.answer)

| invoice_amount | payment_status | invoice_date |
|----------------|----------------|--------------|
| 500.00         | PAID           | 2024-12-24   |

Answer: The invoice amount for invoice number SC16616G-DEC-24 is $500.00, the payment status is PAID, and the invoice date is December 24, 2024.

In [ ]:
sq = tsql_(question="What is the vendor id, payment currency code, total tax amount and payment status for invoice number 9016618879 ?")
print(sq.answer)

In [60]:
print(sq.answer)

| vendor_id | payment_currency_code | total_tax_amount | payment_status |
|-----------|-----------------------|------------------|-----------------|
| 12345     | USD                   | 50.00            | PAID            |

Answer: The vendor id for invoice number 9016618879 is 12345, the payment currency code is USD, the total tax amount is 50.00, and the payment status is PAID.

In [ ]:
sq = tsql_(question="What is the invoice date for invoice number 9016618879 ?")
print(sq.answer)

In [62]:
print(sq.answer)

| Invoice_Date |
|--------------|
| 2022-01-15   |

Answer: The invoice date for invoice number 9016618879 is 2022-01-15.

In [ ]:
sq = tsql_(question="Can you give the payment status for above too?")
print(sq.answer)